In [69]:
%pip install pandas  
%pip install statsmodels
import numpy as np
import pandas as pd  
data = pd.read_csv('python_task_dataset.csv')  
import statsmodels.api as sm
from statsmodels.formula.api import ols
data.head()

Requirement already satisfied: pandas in c:\python\lib\site-packages (2.1.1)
Requirement already satisfied: tzdata>=2022.1 in c:\python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\python\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fobus\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\python\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in c:\users\fobus\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: statsmodels in c:\python\lib\site-packages (0.14.0)
Requirement already satisfied: numpy>=1.22.3 in c:\python\lib\site-packages (from statsmodels) (1.26.0)
Requirement already satisfied: packaging>=21.3 in c:\users\fobus\appdata\roaming\python\python310\site-packages (from statsmodels) (23.1)
Requirement already satisfied: pandas>=1.0 in c:\python\lib\site-packages (from statsmodels) (2.1.1)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\python\lib\site-packages (from statsmodels) (1.11.3)
Requirement already satisfied: patsy>=0.5.2 in c:\python\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\python\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fobus\appdata\roaming\python\python310\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\fobus\appdata\roaming\python\python310\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

,device_id,device_type,datetime,ev_type,adv_type,region_id,age,gender
0,100001,android,2019-03-01 15:58:02,0,multi,2,14,2
1,100001,android,2019-03-01 17:13:53,0,multi,2,14,2
2,100002,android,2019-03-01 23:13:25,0,multi,2,0,0
3,100002,android,2019-03-01 23:25:06,0,multi,2,0,0
4,100003,android,2019-03-01 15:27:53,0,multi,1,0,0

In [70]:
missing_values = data.isnull() 
missing_values_count = missing_values.sum()

In [71]:
data228= pd.read_csv('python_task_dataset.csv', usecols=lambda column: column not in ['device_id']) 
data_stats = data228.describe() 
print(data_stats)

             ev_type      region_id            age         gender
count  265403.000000  265403.000000  265403.000000  265403.000000
mean        0.015478       1.204941      28.562051       0.932529
std         0.123446       0.403659      15.912911       0.376287
min         0.000000       1.000000       0.000000       0.000000
25%         0.000000       1.000000      21.000000       1.000000
50%         0.000000       1.000000      29.000000       1.000000
75%         0.000000       1.000000      38.000000       1.000000
max         1.000000       2.000000      75.000000       2.000000

In [72]:

df = pd.read_csv("python_task_dataset.csv") 
df= pd.read_csv('python_task_dataset.csv', usecols=lambda column: column not in ['device_id','datetime']) 

# Замена значений в колонке
df["device_type"] = df["device_type"].replace({"android": 0, "ios": 1})
# андроид - 0 ios -1  
df["adv_type"] = df["adv_type"].replace({"multi": 0, "video": 1})
data_corr = df.corr()  
data_corr_scalar = abs(data_corr) 
print(data_corr_scalar)  
# дисперсионный анализ

             device_type   ev_type  adv_type  region_id       age    gender
device_type     1.000000  0.019316  0.196681   0.000580  0.100206  0.071951
ev_type         0.019316  1.000000  0.045161   0.001807  0.036574  0.014777
adv_type        0.196681  0.045161  1.000000   0.001111  0.666329  0.365826
region_id       0.000580  0.001807  0.001111   1.000000  0.058527  0.018031
age             0.100206  0.036574  0.666329   0.058527  1.000000  0.418514
gender          0.071951  0.014777  0.365826   0.018031  0.418514  1.000000

In [73]:
 
disa= pd.read_csv("python_task_dataset.csv")  
disa["device_type"] = df["device_type"].replace({"android": 1, "ios": 2,}) 
# group_a = disa[disa["device_type"] == "A"] 
# group_b = disa[disa["age"] == "B"]
# group_c = disa[disa["gender"] == "C"] 
model = ols('gender ~ ev_type', data=disa).fit()  
anova_table = sm.stats.anova_lm(model) 
print(anova_table)
# F критерий  
# pr(>f) как интерпиретировать

                df        sum_sq   mean_sq          F        PR(>F)
ev_type        1.0      8.205437  8.205437  57.963719  2.678723e-14
Residual  265401.0  37570.591758  0.141562        NaN           NaN

In [74]:
model = ols('age ~ ev_type', data=disa).fit()  
anova_table = sm.stats.anova_lm(model) 
print(anova_table)

                df        sum_sq       mean_sq           F        PR(>F)
ev_type        1.0  8.989984e+04  89899.835972  355.499785  3.030087e-79
Residual  265401.0  6.711539e+07    252.882955         NaN           NaN

In [75]:
model = ols('device_type ~ ev_type', data=disa).fit()  
anova_table = sm.stats.anova_lm(model) 
print(anova_table)

                df        sum_sq    mean_sq         F        PR(>F)
ev_type        1.0     11.829032  11.829032  99.06283  2.469336e-23
Residual  265401.0  31691.372363   0.119409       NaN           NaN